registry=https://registry.npmjs.org
@melio:registry=https://npm.pkg.github.com
engine-strict=true
@melio:registry=https://npm.pkg.github.com/melio
//npm.pkg.github.com/:_authToken=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
